@charset "UTF-8";
body {
  color: #999;
}
/* index */
.e2d3-index-menu-area {
  margin-top: 60px;
  font-size: 1.2em;
  a {
    text-decoration: none;
    display: block;
    &:hover {
      border: none;
    }
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.e2d3-index-menu {
  padding: 50px 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  transition: all 500ms ease;
  cursor: pointer;
  &.select {
    background-color: #00BCFF;
    &:hover {
      background-color: #81EDFF;
    }
  }
  &.sample {
    background-color: #FF6B00;
    &:hover {
      background-color: #FFAB00;
    }
  }
  &.demo {
    background-color: #53b64f;
    padding: 20px 10px;
    font-size: 0.9em
  }
}

#e2d3-index-recommend-area {
  margin-top: 40px;
  text-align: center;
  a {
    background-color: #ccc;
    border-radius: 60px;
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    transition: all 500ms ease;
    &:hover {
      background-color: #eee;
    }
  }
}
#e2d3-index-header {
  height: 40px;
  padding: 5px 15px;
  background-color: #67b168;
}
.grid {
  list-style: none;
  padding: 0 15px 0 0;
  li {
    display: inline-block;
    position: relative;
    margin: 10px 0 10px 0;
  }
  figure {
    margin: 0;
    position: relative;
    border: 1px solid #ccc;
    img {
      max-width: 120%;
      max-height: 120%;
      display: block;
      position: relative;
      margin: 0 auto;
    }
    .figure-image {
      width: 100%;
      height: 180px;
      overflow: hidden;
      text-align: center;
    }
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: #FFFFFF;
    h3{
      margin-top: 5px;
      margin-bottom: 5px;
      padding-bottom: 10px;
      border-bottom: 1px solid #AAAAAA;
    }
    .description {
      padding: 8px;
    }
  }
}
.cs-style-1 figcaption {
  height: auto;
  width: 400px;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  z-index: 10000;
}

.no-touch .cs-style-1 figure:hover figcaption, .cs-style-1 figure.cs-hover figcaption {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(15px, 15px);
  -moz-transform: translate(15px, 15px);
  -ms-transform: translate(15px, 15px);
  transform: translate(15px, 15px);
}

.no-touch .figcaption-last figure:hover figcaption, .figcaption-last figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translate(-180px, 15px);
  -moz-transform: translate(-180px, 15px);
  -ms-transform: translate(-180px, 15px);
  transform: translate(-180px, 15px);
}

.grid figcaption table {
  font-size: 0.8em;
}
/* chart */
#e2d3-chart-header {
  height: 40px;
  padding: 5px 15px;
  background-color: #00BCFF;
  color: #FFFFFF;
}

#e2d3-sample-header {
  height: 40px;
  padding: 5px 15px;
  background-color: #FF6B00;
}

.e2d3-link-index-reset {
  color: gray;
}

.e2d3-chart-list-box {
  background-color: rgba(100, 100, 100, 0.8);
  padding: 8px 15px 5px 15px;
  li {
    width: 20%;
    min-width: 70px;
    min-height: 70px;
    max-height: 80px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    border-radius: 6px;
  }
  img {
    width: 150px;
    border-radius: 6px;
  }
}
.view-only-chart-box {
  display: inline;
  position: absolute;
  top: 5px;
  right: 30px;
  z-index: 1000;
  .btn-default {
    color: #ccc;
  }
}

/* common */
#e2d3-chart-area {
  padding: 10px 5px;
  min-height: 300px;
}

#e2d3-global-navi {
  width: 200px;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 100;
  text-align: right;
  vertical-align: middle;
  padding: 10px;
  color: white;
  i {
    cursor: pointer;
  }
}
#e2d3-footer {
  text-align: center;
  font-size: 0.9em;
}

.a-pointer {
  cursor: pointer;
}

.e2d3-alert {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1001;
}
.p6 {
  padding: 6px;
}